# App
NODE_ENV=dev
PORT=3000

DB_PORT=5432
DB_USERNAME=
DB_PASSWORD=
DB_NAME=
DB_HOST=localhost
JWT_SECRET=
STAR_WARS_API_URL=https://swapi.dev/api

# Admin inicial (seed). Valores de ejemplo SOLO para desarrollo
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=Admin123
ADMIN_FULLNAME=Admin
